POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme
POSTGRES_DB=detections_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=raw-frames
MLFLOW_TRACKING_URI=http://localhost:5001
